

.section1{
    height: 400px;
    background: #151949;
}
.title{
    width: 200px;
    height: 100px;
    background: url('../../../../assets/Images/Group\ 55.svg') no-repeat;
    background-size: cover;
}