<app-sub-nav></app-sub-nav>
<app-nav-bar></app-nav-bar>



<div class="main" dir="rtl">
    <div class="section1 row m-0">
        <div class="title"></div>
        <div class="col-md-4 textt">
            <p>
                نهدف إلى تقديم حلول أواني طهي ذكية للجميع. الابتكار والمرونة 
والإبداع والمسؤولية الاجتماعية هي محور تركيزنا الرئيسي
            </p>
        </div>
        <div class="img col-md-4 p-0 align-self-center"></div>
    </div>
    <div class="section2">
        <p>رؤيتنا</p>
        <div class="col-md-10 mx-auto vision">
            <p>
                تقديم أواني الطهي وأدوات المطبخ بمستوى متميز من الجودة والتصميم 
في جميع أنحاء العالم 
            </p>
        </div>
    </div>
    <div class="section3">
        <div class="subdiv">
            <p class="col-md-5">
                كوننا روادًا في هذه الصناعة فـي مــنـطـقـة الشــرق الأوســط وشـمـــال إفـريـقـيــا ، فــقــد
 كرسنا أنفسنا لتقديم حلول أوانـي طـهـي ذكـيـة ومـتـيـنـة وآمـنة للاسـتـخـدام وصـحـيــة 
وحديثة ، من خلال الاهتمام بالتفاصيل وتطبيق أعلى معايير الجـودة فـي الــمــواد الــخــام
 وعمليات الإنتاج. من ناحية أخرى ، فقد استفدنا دائمًا من بيئة الـعمل المناسبة لموظفينا
 ليكونوا مبدعين ومبتكرين وهو الأمر الذي جعلنا قادرين على الالتزام بتقديم تجربة طهي 
أكثر متعة وإرضاء لجميع العملاء.
            </p>
        </div>
    </div>
</div>




<!-- <app-footer></app-footer>
<app-sub-footer></app-sub-footer> -->