<app-sub-nav></app-sub-nav>
<app-nav-bar></app-nav-bar>
<div dir="rtl">
    <div class="title">
        <div class="inside">
            <p class="pTitle">منتجاتنا</p>
            <hr class="mx-auto">
            <p class="col-md-9 mx-auto txt">
                استمتع بالطهي الخاص بك من خلال جلب مجموعة أواني الطهي هذه إلى المنزل. غلافه الفائق يمنع طعامك من الاحتراق
. تتيح لك الأيدي إمساكها بسهولة. حتى أنه يوفر متانة وأداءً رائعين.

            </p>
            <div class="paginateProduct">
                <!-- <ul>
                    <li *ngFor="let item of collection | paginate: { itemsPerPage: 15, currentPage: p }">{{ item }}</li>
                </ul>
        
                <pagination-controls previousLabel="" nextLabel="" [maxSize]="3" (pageChange)="p = $event"></pagination-controls> -->
            </div>
        </div>
    </div>
</div>
