.title{
    height: 300px;
    background: url('../../../../assets/Images/Image\ 2.svg') no-repeat;
    background-size: 100%;
}
.inside{
    height: 245px;
    background: rgba($color: #EC7B13, $alpha: 0.76);
}
.pTitle{
    text-align: center;
    font-size: 60px;
    color: #fff;
    padding-top: 30px;
}
hr{
    height: 9px;
    width: 13vw;
    margin-top: 25px;
    background: #fff;
    opacity: 100%;
}
.txt{
    color: #fff;
    font-size: 31px;
    text-align: center;
    line-height: 50px;
}

.paginateProduct{
    height: 800px;
    background: #151949;
    color: #fff;
}