<div class="row m-0 py-1 navBarr">
    <div class="row m-0  col-md-6 col-6 px-4 ">
        <div class="mx-1 text-center div1">
            <span><i class="pi pi-twitter"></i></span>
        </div>
        <div class="text-center div1">
            <span><i class="pi pi-play"></i></span>
        </div>
        <div class="mx-1 text-center div1">
            <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="text-center div1">
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
    </div>

<div class="row m-0 col-md-6  col-6 pt-1" style="text-align: left;">
  <span style="text-align: left;">
    <span class="para  p-0">مواعيد العمل الرسمية : </span>
    <span class="para1 p-0 ">من السبت الي الخميس</span>
  </span>
</div>
</div>
