<div class="row m-0 justify-content-center navBarr">
    <div class="row align-items-center mx-md-4 col-md-2">
        <div class="mx-1 text-center div1">
            <span><i class="pi pi-twitter"></i></span>
        </div>
        <div class="text-center div1">
            <span><i class="pi pi-play"></i></span>
        </div>
        <div class="mx-1 text-center div1">
            <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="text-center div1">
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
    </div>
    <div class="col-md-6"></div>
<div class="row align-items-center justify-content-end col-md-3 p-0">
    <p class="para col-md-5 col-2 p-0">مواعيد العمل الرسمية : </p>
    <p class="para1 p-0 col-md-4">من السبت الي الخميس</p>
</div>
</div>