<!-- <app-sub-nav></app-sub-nav>
<app-nav-bar></app-nav-bar> -->
<div class="main row m-0" dir="rtl">
    <div class="col-lg-4 me-lg-3 div1">
        <p class="title">تواصل معنا</p>
        <div class="subdiv mb-2">
            <p>
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <span class="pe-2">العنوان: </span>
                <span>انشاص المنطقة الصناعية بلبيس</span>
            </p>
        </div>
        <div class="subdiv mb-2">
            <p>
                <span class="icon"><i class="fas fa-phone-alt"></i></span>
                <span class="pe-2">الهاتف: </span>
                <span>0552641536</span>
            </p>
        </div>
        <div class="subdiv mb-2">
            <p>
                <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                <span class="pe-2">موبايل: </span>
                <span>01127958537</span>
                <span>-</span>
                <span> 01127958538 </span>
            </p>
        </div><br>
        <div class="row align-items-center mx-auto socials col-md-4 col-5">
            <div class="mx-1 text-center div2">
                <span><i class="pi pi-twitter"></i></span>
            </div>
            <div class="text-center div2">
                <span><i class="pi pi-play"></i></span>
            </div>
            <div class="mx-1 text-center div2">
                <span><i class="fab fa-instagram"></i></span>
            </div>
            <div class="text-center div2">
                <span><i class="fab fa-facebook-f"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 inputs">
        <form class="form">
            <div class="row m-3">
                <div class="col-md-6">
                    <span>الاسم</span>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name">
                        <label for="name" class="labl">الاسم</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <span>البريد الالكتروني</span>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email">
                        <label for="email" class="labl">البريد الالكتروني</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <span>رقم الهاتف</span>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="phone">
                        <label for="phone" class="labl">رقم الهاتف</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <span>عنوان الرسالة</span>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title">
                        <label for="title" class="labl">عنوان الرسالة</label>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="message" style="height: 150px"></textarea>
                        <label for="message" class="labl2">رسالتك</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn bttn">ارسال الاستفسار</button>
                </div>
            </div>
        </form>
    </div>
</div>