.main{
    height: 640px;
    background: #151949;
}
.div1 .title{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
}
.subdiv{
    background: #fff;
    height: 65px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-right: 20px;
}
.subdiv p{
    color: #151949;
    font-size: 28px;
    text-align: start;
    padding-top: 15px;
    padding-right: 10px;
}
.icon{
    color: #EC7B13;
}

.div2{
    border: 1px solid #14306F;
    border-radius: 50%;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 35px !important;
    height: 35px;
    padding: 6px;
    i{
        font-size: 20px;
        color: #14306F;
    }
}
.div2:hover{
    i{
        color: #EC7B13;
    }
}
.inputs{
    height: 430px;
    background: #fff;
    border-radius: 16px;
    margin-top: 150px;
    margin-right: 100px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 55vw;
}
.inputs span{
    color: #EC7B13;
    font-size: 20px;
}
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    background: #EBEBEB !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.labl{
    color: #151949 !important;
    font-size: 20px !important;
    opacity: 61% !important;
    //right: 0px !important;
    left: 240px !important;
    top: 10px !important;
    width: 140px !important;
}
.labl2{
    color: #151949 !important;
    font-size: 20px !important;
    opacity: 61% !important;
    right: 0px !important;
    // left: 250px !important;
    top: 10px !important;
    width: 140px !important;
}
.bttn{
    background: #EC7B13 !important;
    font-size: 20px !important;
    color: #fff !important;
    border-radius: 24px !important;
    height: 40px !important;
    -webkit-border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    -ms-border-radius: 24px !important;
    -o-border-radius: 24px !important;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1441px) { 
    // .main{
    //     height: 1200px;
    //     background: #151949;
    // }
    .div1{
        height: 450px;
        margin-bottom: 0px;
    }
    .div1 .title{
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .subdiv{
        margin-right: auto;
        margin-left: auto;
        width: 35vw;
    }
    // .subdiv p{
    //     font-size: 22px;
    // }
    .inputs{
        width: 55vw;
        margin-top: 80px;
       margin-right: 100px;
    }
    .socials{
        width: 11vw;
    }
}
@media (max-width: 1025px) {
    .main{
        height: 520px;
        background: #151949;
    }
    .div1 .title{
        font-size: 40px;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .subdiv{
        height: 55px;
    }
    .subdiv p{
        color: #151949;
        font-size: 18px;
        text-align: start;
        padding-top: 15px;
        padding-right: 10px;
    }
    .inputs{
        height: 430px;
        width: 60vw;
        margin-top: 60px;
        margin-right: 40px;
    }
    .socials{
        width: 16vw;
    }
    .labl{
        left: 115px !important;
    }
}

@media (max-width: 769px) {
    .main{
        height: 940px;
    }
    .div1 .title{
        margin-top: 80px;
    }
    .subdiv{
        background: #fff;
        height: 65px;
        margin-left: auto;
        margin-right: auto;
        width: 65vw;
    }
    .inputs{
        height: 450px;
        width: 95vw;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .labl{
        left: 190px !important;
    }
    .subdiv p{
        font-size: 28px;
    }
    .socials{
        width: 21vw;
    }
    
}

@media (max-width: 426px) {
    .main{
        height: 1200px;
        background: #151949;
    }
    .div1{
        height: 450px;
        margin-bottom: 0px;
    }
    .div1 .title{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .subdiv{
        margin-right: auto;
        margin-left: auto;
        width: 90vw;
    }
    .subdiv p{
        font-size: 22px;
    }
    .inputs{
        height: 620px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .socials{
        width: 40vw;
    }
}