<div class="main m-0">
    <div class="row m-0">
        <div class="col-md-5">
            <img width="450px" src="../../../assets/Images/سثينتمكطو.svg" alt="">
            <br><br>
            <p>
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <span class="title">العنوان: </span>
                <span class="subTitle">انشاص المنطقة الصناعية بلبيس</span>
            </p>
            <p>
                <span class="icon"><i class="fas fa-phone-alt"></i></span>
                <span class="title">الهاتف: </span>
                <span class="subTitle">0552641536</span>
            </p>
            <p>
                <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                <span class="title">موبايل: </span>
                <span class="subTitle">01127958537</span>
                <span class="title">-</span>
                <span class="subTitle"> 01127958538 </span>
            </p>
        </div>
        <div class="col-md-2">
            <p class="title2 text-center"> روابط سريعة </p>
            <hr class="mx-auto">
            <p>
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="subTitle"> الصفحة الرئيسية </span>
            </p>
            <p>
                <span class="icon"><i class="fab fa-dropbox"></i></span>
                <span class="subTitle">قائمة المنـتـجات </span>
            </p>
            <p>
                <span class="icon"><i class="fas fa-question"></i></span>
                <span class="subTitle">مـــــــن نــــحــــــن </span>
            </p>
            <p>
                <span class="icon"><i class="fas fa-phone-alt"></i></span>
                <span class="subTitle">اتـــــصـــــل بـــنـــا </span>
            </p>
        </div>
        <div class="col-md-5 row justify-content-between" style="overflow: hidden;">
            <!-- <img src="../../../assets/Images/شسيبسيبشل.svg" alt=""> -->
            <div class="col-md-6"></div>
            <div class="row align-items-center social col-md-4">
                <div class="mx-1 text-center div1">
                    <span><i class="pi pi-twitter"></i></span>
                </div>
                <div class="text-center div1">
                    <span><i class="pi pi-play"></i></span>
                </div>
                <div class="mx-1 text-center div1">
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="text-center div1">
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>