<div class="main m-0">
    <div class="row m-0">
        <div class="col-md-5">
            <img src="../../../assets/Images/سثينتمكطو.svg" alt="">
            <p>
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span>العنوان:</span>
                <span>انشاص المنطقة الصناعية بلبيس</span>
            </p>
            <p>
                <span><i class="fas fa-phone-alt"></i></span>
                <span>الهاتف:</span>
                <span>0552641536</span>
            </p>
            <p>
                <span><i class="fas fa-mobile-alt"></i></span>
                <span>موبايل:</span>
                <span>01127958537</span>
                <span>-</span>
                <span>01127958538 </span>
            </p>
        </div>
        <div class="col-md-2">
            <p class="title text-center">منتجاتنا</p>
            <hr class="mx-auto">
            <p>
                <span><i class="fas fa-home"></i></span>
                <span>الصفحة الرئيسية</span>
            </p>
            <p>
                <span><i class="fab fa-dropbox"></i></span>
                <span>قائمة المنـتـجات</span>
            </p>
            <p>
                <span><i class="fas fa-question"></i></span>
                <span>مـــــــن نــــحــــــن</span>
            </p>
            <p>
                <span><i class="fas fa-phone-alt"></i></span>
                <span>اتـــــصـــــل بـــنـــا</span>
            </p>
        </div>
        <div class="col-md-5" style="overflow: hidden;">
            <img src="../../../assets/Images/شسيبسيبشل.svg" alt="">
            <div class="row align-items-center mx-md-4 col-md-2">
                <div class="mx-1 text-center div1">
                    <span><i class="pi pi-twitter"></i></span>
                </div>
                <div class="text-center div1">
                    <span><i class="pi pi-play"></i></span>
                </div>
                <div class="mx-1 text-center div1">
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="text-center div1">
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="finalDiv text-center">
        <p>جميع الحقوق محفوظة  2021. ليونيون جروب, تم التطوير بواسطة خيال للخدمات التكنولوجية 
        </p>
    </div>
</div>