.mainNav{
    background: #151949;
    height: 10vh;
}
.div1{
    background: url('../../../assets/Images/51.svg') no-repeat;
    background-size: cover;
    margin-top: 6px;
    margin-bottom: 0px;
    height: 9.4vh;
}
.div3{
    background: url('../../../assets/Images/52.svg') no-repeat;
    background-size: cover;
    margin-top: 5px;
    padding-left: 0px;
    margin-left: 0px;
    height: 9.4vh;
}
.links{
    font-size: 27px;
    padding-top: 30px;
    a{
        text-decoration: none;
    }
}
.navX{
    color: #EC7B13 !important;
}
.phone{
    color: #14306F;
    font-size: 35px;
    padding: 20px;
    margin-right: 55px;
    margin-top: 5px;
}